torch==1.8.1
pytorch-lightning==1.1.5
opencv-python
mlflow
open3d
h5py
albumentations
lightning-bolts==0.3.4
orion
torchvision==0.9.1
frozendict
tensorflow # For objectron protobuf
natsort
deco
cupy
pre-commit
